<div class="w-screen min-h-screen h-full flex items-center justify-center">
  <div class="w-80 h-fit bg-color rounded-xl shadow-xl p-2">
    <h2 class="text-center uppercase text-2xl font-bold p-5">Cambiar contraseña</h2>
    <p class="text-center p-5">Ingresa los datos para cambiar tu contraseña</p>

    <form [formGroup]="form" (ngSubmit)="onSubmitResetPassword()" class="flex flex-col justify-between gap-10 p-3">
      <div class="flex flex-col gap-5">
        <div>
          <label for="password" class="block mt-2 mb-3 text-xl">Ingresa tu nueva contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            placeholder="Escribe tu contraseña"
            class="input-behavior"
            required
          />
          @if(form.get('password')?.hasError('required') && form.get('password')?.touched) {
            <p class="text-red-500 text-xs">Este campo es requerido</p>
          }
        </div>
        <div>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            formControlName="confirm_password"
            placeholder="Confirmar contraseña"
            class="input-behavior"
            required
          />
        </div>
      </div>
      <div class="flex items-center justify-between pt-5">
        <button type="submit" class="bg-color-button pt-5 pb-5 capitalize" [disabled]="form.invalid">
          cambiar contraseña
        </button>
      </div>

      <p class="text-sm font-bold">
        <span class="cursor-pointer hover:text-blue-500" (click)="router.navigate(['/'])">
          <fa-icon [icon]="faArrowLeft"></fa-icon> ir a ingresar
        </span>
      </p>
    </form>
  </div>
</div>
