RewriteEngine On

# Forzar HTTPS (si aplica)
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Seguridad (si lo necesitas)
Header always set Content-Security-Policy "upgrade-insecure-requests;"

# Redirigir todas las rutas a index.html para Angular
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
