<div class="mb-4 p-4 pt-15 sm:pt-0 flex items-center justify-center w-full h-screen bg-color-container">
  <div class="w-full max-w-6xl grid md:grid-cols-2 items-center justify-center h-fit bg-color rounded-2xl shadow-xl">
    <div class="hidden md:block"></div>
    <form class="p-4 rounded-2xl sm:pb-10 w-full " [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="m-5">
           <label for="email" class="block mt-2 mb-3 text-xl">Correo</label>
           <input
              type="email"
              id="email"
              name="email"
              formControlName="email"
              placeholder="Escribe tu correo"
              class="input-behavior"
              required>
              @if(form.get('email')?.hasError('required') && form.get('email')?.touched){
                  <p class="text-red-500 text-xs">Este campo es requerido</p>
              }
              @if(form.get('email')?.hasError('email')){
                  <p class="text-red-500 text-xs">El formato de correo es invalido</p>
              }
        </div>
        <div class="m-5">
           <label for="password" class="block mt-2 mb-3 text-xl">Contraseña</label>
           <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
              placeholder="Escribe tu contraseña"
              class="input-behavior"
              required>
              @if(form.get('password')?.hasError('required') && form.get('password')?.touched){
                  <p class="text-red-500 text-xs">Este campo es requerido</p>
              }
        </div>
        <div class="m-5 flex items-center justify-between">

        </div>
        <div class="m-5">
           <button [disabled]="form.invalid" type="submit" class="bg-color-container hover:cursor-pointer text-stone-800 dark:text-stone-100 rounded-xl w-full p-3 text-xl">
              Entrar
           </button>
        </div>
        <div class="p-5 flex justify-between items-center">
          <p class="text-stone-800 dark:text-stone-100 text-sm">¿No tienes cuenta?</p>
          <a href="#" class="text-stone-800 dark:text-stone-100 text-sm">Contactanos</a>
        </div>
        <p class="m-5 mt-10 mx-auto text-center">
          O tambien con
        </p>
        <div class="m-5 flex justify-center gap-10">
            <button class="button-behavior">
              <span class="pi pi-google"></span>
              <span class="text-lg">Google</span>
            </button>
            <button class="button-behavior">
              <span class="pi pi-apple"></span>
              <span class="text-lg">Apple</span>
            </button>
            <p-toast />
        </div>
    </form>
  </div>
</div>
