<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    @for (item of breadcrumb; track $index) {
      <li class="inline-flex items-center">
        @if ($index === 0) {
          <div class="bg-module-breadcrumb-item">
            <span class="fa-solid fa-house-chimney-crack fa-fw mr-1"></span>
            <a [routerLink]="['/',item]"class="">
              {{item | titlecase}}
            </a>
          </div>
        }
        @else {
          @if (breadcrumb.length === 2 && breadcrumb[1] === '') {
            <a [routerLink]="item"  class="bg-module-breadcrumb-item">
              {{item | titlecase}}
            </a>
          }
          @else {
            <span class="fa-solid fa-chevron-right"></span>
            <a [routerLink]="item"class="bg-module-breadcrumb-item">
              {{item | titlecase}}
            </a>
          }
        }
      </li>
    }
  </ol>
</nav>
