<div class="h-screen flex items-center justify-center bg-color-general">

  <div class="w-[95%] sm:w-[80%] h-full lg:h-fit max-h-[85%] bg-white shadow-2xl rounded-xl grid grid-cols-1 lg:grid-cols-2 overflow-hidden">

    <div class="bg-color hidden lg:block">
      <img src="assets/images/registerimage.png" alt="logo" class="w-full h-full hidden lg:block">
    </div>
    <div class="p-5 bg-color scrollbar-class">
      <h1 class="text-2xl font-bold bg-color">Registro</h1>

      <form action="" class="mt-4">
        <fieldset class="border-1 p-4 rounded-md">
          <legend class="text-lg font-semibold px-2">Datos Personales</legend>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-5 sm:gap-1 mt-2 mb-2">
            <input type="text" class="input-behavior" placeholder="Nombres">
            <input type="text" class="input-behavior" placeholder="Apellidos">
          </div>
          <input type="number" class="input-behavior" placeholder="Telefono">
        </fieldset>
      </form>
    </div>

  </div>

</div>
