<nav class="h-9  w-full max-w-screen flex items-center bg-transparent">
  <ul class="flex justify-between items-center w-full text-md">
    <li class="flex items-center gap-7">
      <button (click)="drawerService.toggle()"  class="cursor-pointer">
        <fa-icon [icon]="faBars" [ngClass]="{'md:hidden' : drawerService.visible()}"></fa-icon>
      </button>
    </li>
    <li class="flex items-center gap-7">
      <button class="cursor-pointer" (click)="drawerService.toggleFloatMenu()">
        <fa-icon [icon]="faGrip"></fa-icon>
      </button>
      <button  class="cursor-pointer" (click)="darkModeService.toggleDarkMode()">
        <fa-icon [icon]="darkModeService.darkMode() ? faSun : faMoon"></fa-icon>
      </button>
      <button pTooltip="Gestión de cuenta"  class="cursor-pointer hidden md:block">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
    </li>
  </ul>
</nav>



  <div #floating class="floating-menu dark:bg-slate-900/30 bg-slate-200/40 backdrop-blur-2xl z-50" [ngClass]="{'fadein': drawerService.floatMenuVisibility()}">

  </div>

