<nav class="h-12 p-2 w-full flex items-center  bg-color-side">
  <ul class="flex justify-between items-center w-full text-xl">
    <li>
      <button (click)="drawerService.open()" class="cursor-pointer">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </li>
    <li class="flex items-center gap-5">
      <button class="cursor-pointer">
        <fa-icon [icon]="faGrip"></fa-icon>
      </button>
      <button  class="cursor-pointer" (click)="darkModeService.toggleDarkMode()">
        <fa-icon [icon]="darkModeService.darkMode() ? faSun : faMoon"></fa-icon>
      </button>
    </li>
  </ul>
</nav>
