/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}


@custom-variant dark (&:where(.dark, .dark *));

.h1{
  @apply
  mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white
}
.h2{
  @apply
  text-4xl font-extrabold dark:text-white
}
.bg-color{
  @apply
  dark:bg-slate-900
  dark:text-stone-200

  bg-zinc-300
  text-stone-900

  transition-all
  duration-200
}
.bg-color-secondary{
@apply
  backdrop-blur-sm
  bg-zinc-300/30
  text-stone-900
  dark:bg-slate-900/50
  dark:text-stone-200;
}

.scrollbar-class{

  @apply
  scrollbar-thin scrollbar-thumb-gray-400 scrollbar-thumb-rounded-full scrollbar-track-transparent scrollbar-track-rounded-full overflow-auto
}
.bg-color-custom{
  @apply
  dark:bg-gradient-to-br dark:from-slate-400 dark:to-gray-800
  bg-gradient-to-br from-slate-200 to-gray-400
  shadow-xl

}
.bg-color-general{
  @apply bg-gradient-to-br from-slate-400 to-neutral-400
  dark:bg-gradient-to-br dark:from-slate-400 dark:to-gray-700
  duration-200
dark:text-stone-200
  text-stone-900
}
.bg-color-side {
  @apply bg-green-200 dark:bg-green-900 duration-200;
}
.bg-color-container{
  @apply
  bg-slate-100
  dark:bg-slate-900

  duration-200
}
.bg-color-button{
  @apply
  hover:cursor-pointer
  rounded-xl
  mx-auto
  block
  w-full

  text-xl

  duration-200

  dark:text-stone-900
  dark:bg-slate-200
  bg-slate-400
  text-stone-900

  hover:dark:bg-slate-400
  hover:dark:text-white

  hover:bg-slate-800
  hover:text-white
}
.bg-color-button-right-menu{
  @apply
  hover:cursor-pointer
  rounded-sm
  duration-200

  text-sm

  w-full

  dark:text-stone-900
  dark:bg-slate-200
  bg-slate-400
  text-stone-900

  hover:dark:bg-slate-400
  hover:dark:text-white

  hover:bg-slate-800
  hover:text-white
}
.bg-module-menu{
  @apply
  hover:cursor-pointer
  rounded-sm
  duration-200
  font-extrabold

  text-lg

  w-full

  dark:text-stone-200
  dark:bg-slate-700
  bg-slate-400
  text-stone-900

  hover:dark:bg-slate-400
  hover:dark:text-white

  hover:bg-slate-400
  hover:text-white
}
.bg-module-submenu-item{
  @apply
  font-bold p-3 cursor-pointer hover:bg-slate-500 hover:text-slate-100 dark:hover:bg-slate-300 dark:hover:text-slate-600 border-2 border-transparent
}

.active{
  @apply
  bg-slate-400 text-slate-100 dark:bg-slate-700 dark:text-slate-100 font-extrabold border-2 border-slate-700 dark:border-white
}

.input-behavior{
  @apply
bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white! dark:focus:ring-blue-500 dark:focus:border-blue-500
}
.label-behavior{
  @apply
  block mb-2 text-sm font-medium
}
.button-behavior{
  @apply
  flex
  justify-center
  items-center

  hover:bg-stone-800
  hover:text-stone-100
  dark:hover:bg-stone-100
  dark:hover:text-stone-800
  hover:duration-200
  gap-3
  border-1
  border-stone-800
  dark:border-stone-100
  rounded-xl
  pl-5
  pr-5
  pt-2
  pb-2
  hover:cursor-pointer
}
.button-register{
  @apply
  text-stone-300
  dark:text-stone-100
   hover:text-white
   hover:bg-stone-500
   dark:hover:text-white
   cursor-pointer
   m-5
   p-5
   rounded-2xl
   border-2
   border-white
}
.floating-menu {
  @apply
  fixed
  w-[100vw]
  h-[60vh]
  bottom-0
  left-0
  rounded-none
  z-50
  overflow-hidden
  duration-200
  shadow-2xl

  md:bottom-auto
  md:rounded-2xl
  md:w-96
  md:left-auto
  md:right-24;

  max-height: 0;
  opacity: 0;
  visibility: hidden;
}
.floating-menu.fadein {
  max-height: 50vh;
  opacity: 1;
  visibility: visible;
}

.background-card{
  @apply
  dark:bg-slate-600
  bg-slate-100
  duration-200
}
