<div #createVariante id="createVariante" tabindex="-1" class="absolute hidden flex top-0 left-0 backdrop-blur-xs w-full items-start pt-15 h-full z-10">
  <div class="w-sm md:w-md lg:w-lg h-fit bg-color rounded-xl p-5 relative animate-fadeIn">
    <span class="fa-solid fa-close absolute right-3 top-3 cursor-pointer text-xl" data-modal-hide="createVariante" aria-hidden="true"></span>
    <div class="flex justify-center">
      <h4 class="h4 mb-2 "><span class="fa fa-home"></span> {{this.mode() === 'create' ? this.textModalCreate.title : this.textModalmodify.title}}</h4>
    </div>
    <hr>
    <form [formGroup]="form" (ngSubmit)="createVariants()" class="mt-5">
      <div class="mb-3 relative">
        <label for="name" class="label-behavior">Nombre</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="input-behavior"
          placeholder="Escribe el nombre de la categoría"
          [ngClass]="{'border-red-500!': form.get('name')?.hasError('required') && form.get('name')?.touched}"

        >
        @if(form.get('name')?.hasError('required') && form.get('name')?.touched){
          <p class="text-red-500 text-sm absolute">Este campo es requerido</p>
        }
        @if(form.get('name')?.hasError('minlength')){
          <p class="text-red-500 text-sm absolute">El nombre debe tener al menos 3 caracteres</p>
        }
      </div>
      <div>
        <label for="description" class="label-behavior">Descripción</label>
        <textarea name="description" id="description"
          class="input-behavior"
          formControlName="description"
          placeholder="Escribe una descripcion"
          [ngClass]="{'border-red-500!': form.get('description')?.hasError('required') && form.get('description')?.touched}"
          >
        </textarea>
        @if(form.get('description')?.hasError('required') && form.get('description')?.touched){
          <p class="text-red-500 text-sm absolute">Este campo es requerido</p>
        }
        @if(form.get('description')?.hasError('minlength')){
          <p class="text-red-500 text-sm absolute">El nombre debe tener al menos 3 caracteres</p>
        }
      </div>


      <div class="mb-3 mt-8 flex justify-center">
        <button type="submit" class="button-create" [disabled]="form.invalid"><span class="fa fa-check"></span> {{this.mode() === 'create' ? this.textModalCreate.button : this.textModalmodify.button}} Variante</button>
      </div>
    </form>
  </div>
</div>

