<div class="h-screen pt-1 pb-1 transition-all " [ngClass]="{ 'pl-0 pr-0 md:pl-2 opacity-0 md:opacity-100': !drawerService.visible(), 'p-1 opacity-100': drawerService.visible() }">
  <div class="duration-200 text-md absolute h-[99vh] overflow-x-hidden overflow-y-auto bg-color backdrop-blur-sm  rounded-xl" [ngClass]="{'md:relative! p-1 w-70' : drawerService.visible(), 'w-0 md:relative md:p-1 md:w-14' : !drawerService.visible()}">
    <span class="flex items-center justify-between duration-200"  [ngClass]="{'justify-center': !drawerService.visible()}">
      <fa-icon class="p-1" [icon]="faWebAwesome" ></fa-icon>
      <fa-icon class="p-1.5 cursor-pointer" [icon]="faXmark" (click)="drawerService.close()" [ngClass]="{'md:hidden' : !drawerService.visible()}"></fa-icon>
    </span>

    <div class="container-menu-right flex flex-col h-[calc(99vh-45px)] justify-between">
      <div class="">

      </div>


      <div class="w-full flex flex-col gap-1">
        <button pTooltip="Gestión de cuenta" class="flex md:hidden items-center p-1 bg-color-button-right-menu" (click)="logout()" [ngClass]="{'justify-center': !drawerService.visible()}">
          <fa-icon class="p-2"  [icon]="faUser"></fa-icon>
          <span class="p-2.5 cursor-pointer truncate overflow-hidden whitespace-nowrap"  [ngClass]="{'md:hidden' : !drawerService.visible()}">Gestión de cuenta</span>
        </button>
        <button pTooltip="cerrar sesión" class="flex items-center p-1 bg-color-button-right-menu" (click)="logout()" [ngClass]="{'justify-center': !drawerService.visible()}">
          <fa-icon class="p-2"  [icon]="faRightFromBracket"></fa-icon>
          <span class="p-2.5 cursor-pointer truncate overflow-hidden whitespace-nowrap"  [ngClass]="{'md:hidden' : !drawerService.visible()}">Cerrar Sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>
