<div class="h-full z-50 transition-all flex items-start overflow-hidden" [ngClass]="{ 'pl-0 pr-0 opacity-0 md:opacity-100': !drawerService.visible(), 'opacity-100': drawerService.visible() }">
  <div class="duration-200 text-md fixed h-[85vh] md:h-full overflow-hidden bg-color" [ngClass]="{'md:relative! p-2 w-70' : drawerService.visible(), 'w-0 md:relative md:p-2 md:w-16' : !drawerService.visible()}">
    <span class="flex items-center mb-1 justify-between duration-200"  [ngClass]="{'justify-center': !drawerService.visible()}">
      <fa-icon class="p-1" [icon]="faWebAwesome" ></fa-icon>
      <fa-icon
        class="p-1.5 cursor-pointer sm:hidden"
        [icon]="faXmark"
        (click)="drawerService.close()"
        [ngClass]="{ 'hidden': !drawerService.visible() }">
      </fa-icon>
    </span>

    <div class="container-menu-right flex flex-col h-[92%] md:h-[95%] overflow-hidden  justify-between">
      <div class="scrollbar-class h-full  mb-1  rounded-xl p-5 overflow-y-auto">

      </div>
      <div class="w-full flex flex-col gap-1">
        <button pTooltip="Gestión de cuenta" class="flex md:hidden items-center p-1 bg-color-button-right-menu" (click)="logout()" [ngClass]="{'justify-center': !drawerService.visible()}">
          <fa-icon class="p-2"  [icon]="faUser"></fa-icon>
          <span class="p-2.5 cursor-pointer truncate overflow-hidden whitespace-nowrap"  [ngClass]="{'md:hidden' : !drawerService.visible()}">Gestión de cuenta</span>
        </button>
        <button pTooltip="cerrar sesión" class="flex items-center p-1 bg-color-button-right-menu" (click)="logout()" [ngClass]="{'justify-center': !drawerService.visible()}">
          <fa-icon class="p-2"  [icon]="faRightFromBracket"></fa-icon>
          <span class="p-2.5 cursor-pointer truncate overflow-hidden whitespace-nowrap"  [ngClass]="{'md:hidden' : !drawerService.visible()}">Cerrar Sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>
