<div class="h-full z-70 transition-all flex items-start shadow-xl dark:shadow-zinc-300 overflow-hidden" [ngClass]="{ 'pl-0 pr-0 opacity-0 md:opacity-100': !drawerService.visible(), 'opacity-100': drawerService.visible() }">
  <div [style.height.px]="this.screenSizeService.screenHeight()"  class="pl-2 pr-2 duration-200 text-md fixed overflow-hidden bg-color" [ngClass]="{'md:relative!  w-70' : drawerService.visible(), 'w-0 md:relative md:w-16' : !drawerService.visible()}">
    <span class="flex items-center p-3 justify-between duration-200"  [ngClass]="{'justify-center': !drawerService.visible()}">
      <span type="button" class="cursor-pointer fa-solid fa-web-awesome p-1"  (click)="router.navigate(['/dashboard'])"></span>
      <span
        class="fa-solid fa-xmark cursor-pointer sm:hidden!"

        (click)="drawerService.close()"
        [ngClass]="{ 'hidden': !drawerService.visible() }">
      </span>
    </span>

    <div class="container-menu-right flex flex-col h-[92%] overflow-hidden  justify-between">
      <div class="scrollbar-class h-full  mb-1 overflow-y-auto flex flex-col gap-1 items-center justify-start">
        @for (item of menuItems; track $index) {
          <div class="submenu w-full">
            <button
              [attr.data-collapse-toggle]="'submenu' + $index"
              type="button"
              class="flex p-2 items-center bg-module-menu"
              [ngClass]="{ 'justify-start': !drawerService.visible() }">
              <span class="{{ item.icon }} pe-2 pt-2 pb-2 min-w-10"></span>
              <span class="truncate" [ngClass]="{ 'md:hidden': !drawerService.visible() }">{{ item.name }}</span>
              <fa-icon
                [icon]="faChevronDown"
                class=" me-0 ms-auto cursor-pointer truncate overflow-hidden whitespace-nowrap"
                [ngClass]="{'md:hidden' : !drawerService.visible()}">
              </fa-icon>
            </button>

            <ul
              [id]="'submenu' + $index"
              class="bg-slate-200 dark:bg-slate-500 text-sm w-full"
              [ngClass]="{ 'hidden': !drawerService.visible() }">

              @for (submenu of item.subMenus; track $index) {
                @if (submenu.subMenus) {
                  <div class="bg-slate-300 dark:bg-slate-600 pb-1 mb-2">
                    <button
                      [attr.data-collapse-toggle]="'subsubmenu' + $index + '-' + $index"
                      type="button"
                      class="flex p-2 w-full bg-module-submenu-item"
                      [ngClass]="{ 'justify-start': !drawerService.visible() }">
                      {{ submenu.name | titlecase }}
                      <fa-icon [icon]="faChevronDown" class="ms-auto" />
                    </button>

                    <ul [id]="'subsubmenu' + $index + '-' + $index" class="hidden">
                      @for (child of submenu.subMenus; track $index) {
                        <li class="bg-module-subsubmenu-item" [routerLink]="child.link" [routerLinkActive]="['activeSub']">
                          <span [ngClass]="child.icon"></span> {{ child.name | titlecase }}
                        </li>
                      }
                    </ul>
                  </div>
                }
                @else {
                  <li class="bg-module-submenu-item" [routerLink]="submenu.link" [routerLinkActive]="['active']">
                    {{ submenu.name | titlecase }}
                  </li>
                }
              }
            </ul>
          </div>
        }

      </div>
      <div class="w-full flex flex-col gap-1">
        <button pTooltip="Gestión de cuenta" class="flex md:hidden items-center p-1 bg-color-button-right-menu" [ngClass]="{'justify-center': !drawerService.visible()}">
          <span class="p-2 fa-solid fa-user"></span>
          <span class="p-2.5 cursor-pointer truncate overflow-hidden whitespace-nowrap"  [ngClass]="{'md:hidden' : !drawerService.visible()}">Gestión de cuenta</span>
        </button>
        <button  class="flex items-center p-1 bg-color-button-right-menu" (click)="logout()" [ngClass]="{'justify-center': !drawerService.visible()}">
          <span class="p-2 fa-solid fa-right-from-bracket"></span>
          <span type="button" class="p-2.5 cursor-pointer truncate overflow-hidden whitespace-nowrap"  [ngClass]="{'md:hidden' : !drawerService.visible()}">Cerrar Sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>


